<style>
    table.dataTable thead .sorting { background: url('/DataTables/DataTables-1.10.18/images/sort_both.png') no-repeat center right; }
    table.dataTable thead .sorting_asc { background: url('/DataTables/DataTables-1.10.18/images/sort_asc.png') no-repeat center right; }
    table.dataTable thead .sorting_desc { background: url('/DataTables/DataTables-1.10.18/images/sort_desc.png') no-repeat center right; }

    table.dataTable thead .sorting_asc_disabled { background: url('/DataTables/DataTables-1.10.18/images/sort_asc_disabled.png') no-repeat center right; }
    table.dataTable thead .sorting_desc_disabled { background: url('/DataTables/DataTables-1.10.18/images/sort_desc_disabled.png') no-repeat center right; }
</style>
<div style="overflow-x: auto;">
    <table id="table-semov" class="table table-bordered table-striped">
        <thead>
        <th>Provider</th>
        <th>IDCompany</th>
        <th>CompanyName</th>
        <th>RouteName</th>
        <th>Date</th>
        <th>Time</th>
        <th>VIN</th>
        <th>EconomicNumber</th>
        <th>VehiculePlate</th>
        <th>IMEI</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Altitude</th>
        <th>Speed</th>
        <th>Direction</th>
        <th>PanicButton</th>
        <th>UrlCamera</th>
        </thead>
        <tbody>
        {% for r in value.ArrayOfVehiclesOnlyGps_Result %}
            <tr>
                <td>
                    {{ r.Provider }}
                </td>
                <td>
                    {{ r.IDCompany }}
                </td>
                <td>
                    {{ r.CompanyName }}
                </td>
                <td>
                    {{ r.RouteName }}
                </td>
                <td>
                    {{ r.Date }}
                </td>
                <td>
                    {{ r.Time }}
                </td>
                <td>
                    {{ r.VIN }}
                </td>
                <td>
                    {{ r.EconomicNumber }}
                </td>
                <td>
                    {{ r.VehiculePlate }}
                </td>
                <td>
                    {{ r.IMEI }}
                </td>
                <td>
                    {{ r.Latitude }}
                </td>
                <td>
                    {{ r.Longitude }}
                </td>
                <td>
                    {{ r.Altitude }}
                </td>
                <td>
                    {{ r.Speed }}
                </td>
                <td>
                    {{ r.Direction }}
                </td>
                <td>
                    {{ r.PanicButton }}
                </td>
                <td>
                    {{ r.UrlCamera }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
</div>
<script>
    $(document).ready(function() {
        $("#table-semov").dataTable();
    });
</script>