{{ form(delete_form, {
    action: delete_form.vars.action ~ ('?' in delete_form.vars.action ? '&keep_data=1&' : '?') ~ 'referer=' ~ referer,
    method: 'DELETE',
    attr: { id: 'delete-form', style: 'display: none' }
}) }}

<div id="modal-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ '¿Está seguro que desea eliminar?' }}</h4>
                <p>{{ 'Si desmarca la opción de abajo no se podrán recuperar los datos' }}</p>
                <label><input id="keepData" checked="true" type="checkbox"> Mantener los datos</label>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">
                    {{ 'action.cancel'|trans(_trans_parameters, _translation_domain) }}
                </button>

                {% if easyadmin_action_is_enabled(view, 'delete', _entity_config.name) %}
                    {% set _delete_action = easyadmin_get_action(view, 'delete', _entity_config.name) %}
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button"
                            formtarget="{{ _delete_action.target }}">
                        {% if _delete_action.icon %}
                            <i class="fa fa-{{ _delete_action.icon }}"></i>
                        {% endif %}
                        {{ 'Eliminar' }}

                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
